body {
    background-color: LightGray;
}
div {
    border: 1px solid Chocolate;
}

.navbar {
    background-color: #FFF;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #FF0000;
    z-index: 999;
}

.navbar > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
}

.logo {
    height: 3rem;
    margin-left: 1rem;
    margin-top: .75rem;
}